<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mercado Liebre</title>
    </head>
    <body>
        <header>
            <img src="/imagenes/logo-mercado-liebre.svg" alt="Logo">
            <div>Lugar para poner la barra de busqueda</div>
            <h3>Comprar en cuotas y sin tarjeta de credito</h3>
                <nav>
                    <ul>
                        <li><a href="">Ofertas</a></li>
                        <li><a href="">Tiendas Oficiales</a></li>
                        <li><a href="">Vender</a></li>
                        <li><a href="">Ayuda</a></li>
                    </ul>
                    <ul>
                        <li><a href="">Crea tu cuenta</a></li>
                        <li><a href="">Ingresa</a></li>
                        <li><a href="">Mis compras</a></li>
                    </ul>
                </nav>
        </header>
        <main>
            <section class="Banner">
                <img src="/imagenes/home-banner.jpg" alt="banner">
            </section>
            <section class="Productos">
                <h2>Basado en tu ultima visita</h2>
                <article>
                    <div>
                        <img src="/imagenes/cafetera.jpg" alt="cafetera">
                        <p>$6.770</p>
                        <p>$40% OFF</p>
                        <h4>Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <div>
                        <img src="/imagenes/macbook-pro.jpg" alt="compu">
                        <p>$230.000</p>
                        <p>20% off</p>
                        <h4>MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <div>
                        <img src="/imagenes/img-samsung-galaxy-s10.jpg"
                            alt="celu">
                        <p>$70.500</p>
                        <p>10% off</p>
                        <h4>Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <div>
                        <img src="/imagenes/samsung-smart.jpg" alt="tv">
                        <p>$23.200</p>
                        <p>10% off</p>
                        <h4>SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </section>
            <section class="Ofertas">
                <h2>Seccion De Ofertas</h2>
                <article>
                    <div>
                        <img src="/imagenes/cafetera.jpg" alt="cafetera">
                        <p>$6.770</p>
                        <p>$40% OFF</p>
                        <h4>Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <div>
                        <img src="/imagenes/macbook-pro.jpg" alt="compu">
                        <p>$230.000</p>
                        <p>20% off</p>
                        <h4>MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <div>
                        <img src="/imagenes/img-samsung-galaxy-s10.jpg" alt="celu">
                        <p>$70.500</p>
                        <p>10% off</p>
                        <h4>Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <div>
                        <img src="/imagenes/samsung-smart.jpg" alt="tv">
                        <p>$23.200</p>
                        <p>10% off</p>
                        <h4>SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </section>
        </main>
        <br>
        <footer>
            <section>
                <h5>Pagá con tarjeta o en efectivo</h5>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta
                    o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <h5>Envío gratis desde $ 2.500</h5>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos
                    gratis en miles deproductos. Es un beneﬁcio de Mercado
                    Puntos.</p>
            </section>
            <section>
                <h5>Seguridad, de principio a ﬁn</h5>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que
                    no puedas hacer, porque estás siempre protegid@.</p>
            </section>
            <section>
                <h6>Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
            </section>
        </footer>
    </body>
</html>